*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

html, body {
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100%;
    overflow-y: hidden;
}

header {
    display: flex;
    flex-basis: 100vw;
    font-size: 30px;
    color: #fff;
    height: 65px;
    position: sticky;
}

header img {
    height: 40px;
    width: 40px;
}

.above-menu-options {
    height: 60px;
    display: flex;
    align-items: center;
    padding-right: 220px;
}

.above-menu-options input {
    border-radius: 20px;
    height: 45px;
    width: 265px;
    border: none;
    background-color: #f7f7f7;
    outline: none;
}

.above-menu-options i {
    color: #1778F2;
    margin-left: 5px;
    font-size: 45px;
    margin: 5px 10px 5px 20px;
}

.above-midle-menu {
    height: 60px;
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 110px;
}

.above-midle-menu span {
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 65px;
}

.above-midle-menu span:hover {
    background-color: #d6d9da;
    cursor: pointer;
    border-radius: 5px;
}

.above-midle-menu i {
    font-size: 25px;
    color: #afaaaa;
}

.above-contacts-user {
    width: 510px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    flex-direction: row;
}

.above-contacts-user i {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #afaaaa;
    margin-left: 30%;
    font-size: 20px;
}

.above-contacts-user img {
    height: 30px;
    width: 30px;
    margin-right: 2px;
}

.above-contacts-user span {
    background-color: #e8edee;
    height: 45px;
    width: 45px;
    display: flex;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.above-contacts-user span:hover {
    background-color:  #d6d9da;
}

.user-i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 85px;
    border-radius: 50%;
}

.user-i a {
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.container-2 {
    left: 150px;
    height: 100vh;
    display: flex;
    width: 100vw;
    font-size: 20px;
    background-color: #e8edee;
}

.menu-options {
    display: flex;
    flex-direction: column;
    width: 555px;
    max-height: 100%;
    margin-top: 20px;
}

.menu-options span {
    text-decoration: none;
    font-weight: 500;
    color: black ;
    margin-left: 20px;
    text-align: start;
}

.menu-options a {
    font-size: 18px;
    margin-bottom: 25px;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.menu-options a:hover {
    background-color:  #d6d9da;
}

.menu-options i {
    font-size: 25px;
    margin-left: 22px;
}

.menu-options button {
    margin: 10px ;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

.menu-options img {
    height: 35px;
    width: 35px;
    margin-left: 22px;
}

.midle {
    display: flex;
    flex-direction: column;
    width: 780px;
    right: 30px;
    height: 100vh;
    
}

.midle span {
    margin: 0 10px;
}

.storys {
    display: flex;
    height: 210px;
    width: 760px;
    margin: 20px 0px 0px 0px;
    justify-content: space-between;
}

.container-box {
    background-color: aqua;
    height: 210px;
    width: 120px;
    border-radius: 20px;
}

.make-a-post {
    margin: 20px 0px;
    background-color: #fff;
    height: 145px; 
    width: 760px;
    border-radius: 20px;
}

.messeage {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 3px solid #f7f7f7;
}

.messeage input {
    border-radius: 20px;
    height: 45px;
    width: 700px;
    border: none;
    background-color: #f7f7f7;
    font-weight: 500;
    font-size: 18px;
    outline: none;
}

.messeage img {
    margin-right: 10px;
    height: 45px;
    width: 45px;
}

.more {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin: 20px;
}

.more span, a {
    font-size: 20px;
    text-decoration: none;
    color: #867e7e;
}

li {
    background-color: #fff;
    height: 155px; 
    width: 760px;
    border-radius: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.others-post-user {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
    font-size: 15px;
}

.others-post-user a {
    font-size: 20px;
    margin: 20px 0 0 0;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.user-header {
    display: flex;
    flex-direction: column;
}

li img {
    height: 45px;
    width: 45px;
    margin: 0px 0 0 20px;
}

.users-reaction {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    margin-top: 55px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-around;
}

.users-reaction a {
    display: flex;
}

.contact-users {
    margin: 22px;
    height: 100vh;
    width: 290px;
    display: flex;
    flex-direction: column;
    padding-left: 5.5%;
}

.contact-list {
    display: flex;
    margin: 15px 0 0px 0px;
    background-color: #366872;
    width: 380px;
}

.contact-list span a {
    margin: 4px 0px 0px 5px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.contact-list img {
    height: 35px;
    width: 35px;
}

.contacts-header {
    display: flex;
    flex-direction: row;
    width: 390px;
    font-size: 20px;
    color: #867e7e;
}

.contacts-header span, a {
    font-weight: 600;
    font-size: 20px;
}

.contacts-header-icons {
    padding-left: 220px;
}

.contacts-header-icons span, a {
    color: #867e7e ;
    margin-right: 3px;
}